@import "./variables.scss"; // Certifique-se de ter variáveis definidas para cores e fontes

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: #333;
  line-height: 1.6;
  padding: 2rem;

}

.home {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: $text-color;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    list-style: none;
    padding: 0;

    li {

      h2 {
        font-size: 1.0rem;
        padding: 1.5rem;
        background-color: #4CAF50;
        color: $text-color;
        border-bottom: 3px solid #388E3C;
      }

      a {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        color: $text-color;
        text-decoration: none;
        background-color: $card-background;
        text-align: center;
        border-radius: 15px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: #5a90c2;
          color: rgb(255, 0, 191);
        }
      }
    }
  }
}

// Animações
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Responsividade
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  ul {
    grid-template-columns: 1fr;
  }

  li {
    h2 {
      font-size: 1.6rem;
    }

    a {
      font-size: 1rem;
    }
  }
}
