@import "./variables.scss"; // Certifique-se de ter variáveis definidas para cores e fontes

// Reset básico
html {
  scroll-behavior: smooth; // Aplica a rolagem suave em toda a página
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: #333;
  line-height: 1.6;
  padding: 2rem;
}

.home {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: $text-color;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 20px #800000;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 0;
    list-style: none;
    max-width: 800px;
    margin: 0 auto;

    li {
      text-align: center;

      a {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        color: $text-color;
        text-decoration: none;
        background-color: $card-background;
        border-radius: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
              background: linear-gradient(
              to bottom,
              #e40303, // Vermelho
              #ff8c00, // Laranja
              #ffed00, // Amarelo
              #008026, // Verde
              #24408e, // Azul
              #732982  // Roxo
  );
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}


// Animações
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Responsividade
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  ul {
    grid-template-columns: 1fr;
  }

  li {
    h2 {
      font-size: 1.6rem;
    }

    a {
      font-size: 1rem;
    }
  }
}

/* Estilos gerais para os links */
.materia-link {
  display: block;
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
