$primary-color: #00796b; // Verde mais suave
$secondary-color: #00ffd5; // Verde mais escuro
$background-color: #081116; // Escuro com tom de azul
$text-color: white; // Branco
$card-background: #1a5e80; // Cinza mais suave
