$primary-color: #270101;  // Vermelho escuro principal
$secondary-color: #5A0A0A;  // Vermelho mais escuro
$background-color: #0D0000;  // Fundo bem escuro
$text-color: #F4D5D5;  // Texto claro para contraste
$card-background: #200202;  // Vermelho suave para cartões
